


<section class="productsList">
  <div class="container product-container"> 
  <h4 class="section-title">Products</h4>
  <div class="row">
    {{#each products}}
    <div class="col-3 {{productCategory}} products" condition-data-type="{{productCondition}}" data-custom-type="{{productCategory}}" >
      <div class="card">
        <img
          src="{{productPhoto.[0]}}"
          class="card-img-top productPhoto"
          alt="{{productName}}"
        />
        <div class="card-body">
          <h5 class="card-title productName"> {{this.productName}}</h5>
          <h5 class="card-title shopName"> {{this.merchantName}}</h5>
          <p class="card-text ">
           <p data-type="{{this.price}}"> ${{this.price}}</p>
            {{!-- {{productCategory}} --}}

          </p>
          <a href="/product/{{id}}" class="viewMore">view more</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  </div>
</section>