


<section class="productsList">
  <div class="container product-container"> 
  <h4 class="section-title">Products</h4>
  <div class="row">
    {{#each products}}
    <div class="col-3 {{productCategory}} products" data-custom-type="{{productCategory}}" >
      <div class="card">
        <img
          src="{{productPhoto}}"
          class="card-img-top productPhoto"
          alt="{{productName}}"
        />
        <div class="card-body">
          <h5 class="card-title">product name: {{this.productName}}</h5>
          <h5 class="card-title">shop name: {{this.merchantName}}</h5>
          <p class="card-text ">
            ${{this.price}}
            {{!-- {{productCategory}} --}}

          </p>
          <a href="/product/{{id}}" class="">view more</a>
        </div>
      </div>
    </div>
    
    {{/each}}
  </div>
  </div>
</section>