<link rel="stylesheet" href="/dashboard.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
<section id="dashboard-section">
    <div class="container">
    <div class="button-container">
        <a class="back-btn" href="/shop/merchant-homepage"> <i class="fas fa-chevron-left"></i> Back</a>
    </div>
    </div>
    <div class="container">
        <div class="wrapper">
            <div id="stripe-dashboard-container">
                <h3 class="dashboard-title mb-3">Dashboard</h3>
            <div class="row">
                
                <div class="col-6">
                    <h5>Hello {{shop}}</h5>
                    <a class="link" href="/merchant/stripe/dashboard?account=true">View Stripe Account</a>
                </div>
                <div class="col-3 d-flex" id="">
                    <div class="px-2">
                        <h5>Balance Available</h5>
                        <p id="balance">{{balanceAvailable}}HKD</p>
                    </div>
                </div>
                <div class="col-3 d-flex">
                    <form action="/merchant/stripe/payout" method="POST" autocomplete="off">
                    <button type='submit' id="payout" class="btn-payout"value='Pay out now'>Pay out now</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section id="recent-purchase-table">
   <div class="container">
       <div class="table-container"> 
        <h3 class="dashboard-title mb-3">Customer Info</h3>
        <table class="table">
        <thead>
            <tr>
            <th class="table-header" scope="col">#</th>
            <th class="table-header" scope="col">Product name</th>
            <th class="table-header" scope="col">Price</th>
            <th class="table-header" scope="col">Shipping price</th>
            <th class="table-header" scope="col">Date sold</th>
            <th class="table-header" scope="col">Customer name</th>
            <th class="table-header" scope="col">Shipping Address</th>
            <th class="table-header" scope="col">Customer email</th>
            </tr>
        </thead>
        <tbody>
            {{#each soldProducts}}
            <tr>
            <th scope="row">{{id}}</th>
            <td class="table-data">{{productName}}</td>
            <td class="table-data">{{price}}</td>
            <td class="table-data">{{shippingPrice}}</td>
            <td class="table-data">{{dataSold}}</td>
            <td class="table-data">{{customerName}}</td>
            <td class="table-data">{{customerStreetName}}, {{customerBuilding}}, {{customerCountry}}</td>
            <td class="table-data"><a id="Email" href = "mailto: {{customerEmail}}"><center><i class="fas fa-envelope"></i></center></a></td>
            </tr>
            {{/each}}
        </tbody>
        </div>
   </div>
</table>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col chart-cat-container">
            <div>
            <canvas id="myChart" width="100px" height="100px"></canvas>
            </div>
            </div>
            <div class="col">
            <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How to view your current balance and payout
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Inside the shop dashboard, you can view your current balance by looking at the value below <strong>Balance Available</strong>. 
                    In order to send money from our platform into your bank account, simply click on the payout button.
                    Funds will be sent to the given bank account you registered with.
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Accordion Item #2
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Accordion Item #3
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>

<script src="/dashboard/dashboard.js"></script>